.container{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.visuals{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical_line{
    width: 5px;
    height: 100%;
    background-color: white;
}

.circle{
    background-color: #f45b69;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.commit_msg{
    width: 50%;
    /* height: 150px; */
    background-color: #f45b69;
    align-self:flex-start;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    position: relative;

}

h2{
    font-weight: 600;
}


.commit_msg::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 3px;
    left: -20px;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right:12px solid #f45b69;
}

@media only screen and (max-width : 650px) {
    .visuals{
        height: 150px;
    }

    .circle{
        width: 20px;
        height: 20px;
    }

    .vertical_line{
        width: 3px;
    }

    .commit_msg{
        width: 60%;
    }

    h2{
        font-size: 10px;
    }

    p{
        font-size: 10px;
    }

    .container{
        justify-content: center;
        width: auto;
        gap: 15px;
    }

    .commit_msg{
        gap: 5px;
        padding: 5px;
    }
}