.container{
    padding: 200px;
}

.timeline_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline_container .container:nth-child(odd) .commit_msg{
    background-color: aqua;
}