.container{
    aspect-ratio: 6/1;
    width: 650px;
    background-color: #f45b69;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    gap: 15px;
    justify-content: space-between;
    position: relative;
}

h2{
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
    font-weight: 300;
}

img{
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button{
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}



@media only screen and ( max-width : 700px) {
    .container{
        width: 600px;
    }   
    
    h2{
        font-size: 2rem;
    }

    p{
        font-size: 14px;
    }
}
@media only screen and ( max-width : 650px) {
    .container{
        width: 550px;
    }   

    h2{
        font-size: 1.8rem;
    }

}
@media only screen and ( max-width : 600px) {
    .container{
        width: 500px;
    }   

    h2{
        font-size: 1.6rem;
    }

    p{
        font-size: 9px;
    }
}
@media only screen and ( max-width : 550px) {
    .container{
        width: 450px;
        aspect-ratio: 6/1.5;
    }   

    h2{
        font-size: 1.4rem;
    }
}
@media only screen and ( max-width : 500px) {
    .container{
        width: 400px;
        aspect-ratio: 6/1.5;
    }   

    h2{
        font-size: 1.2rem;
    }

    .button{
        font-size: 12px;
    }
}
@media only screen and ( max-width : 450px) {
    .container{
        width: 350px;
        aspect-ratio: 6/1.5;
    }   

    h2{
        font-size: 1rem;
    }
}

.flash_message{
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.089);
    padding: 3px;
    position: absolute;
    border-radius: 5px;
    top: 5px;
    right: 5px;
}