<a routerLink="/repos/timeline" (click)="setTimelineLink(repo.url)"> 
  <div class="container">
    <div class="flex flex-col items-start">
      <h2>{{ (repo.name).slice(0 , 20) }}</h2>
        <p>Created at : {{date}}</p>
        <p>Language : {{ repo.language }}</p>
    </div>
    <div class="buttons">
        <div (click)="copyToClipBoard($event ,repo.clone_url)" class="button">
          <fa-icon class="copy" [icon]="copy" ></fa-icon> Clone URL
        </div>
      <a href="{{ repo.htmlUrl }}" target="_blank">
        <div class="button">GitHub</div>
      </a>
    </div>
    <div *ngIf="isCopied" class="flash_message">Copied To Clipboard</div>
  </div>
</a>
